body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 600px;
      box-shadow: 0 0 15px -6px #00000073;
}
table tr {
  background-color: #fff;
}
table tbody tr:hover{
  background-color: #fffae9;
}
table th,
table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
}
table thead th {
    text-align: left;
    font-size: .85em;
    padding: 1em;
}
table thead tr{
  background-color: #FFC107;
  color:#fff;
}
table tbody th {
  text-align: left;
  font-size: .8em;
}

.txt {
  color: #010079;
  text-shadow: 0 0 5px white;
  padding: 0.3em 0.5em;
  background: -webkit-repeating-linear-gradient(-45deg, #fffaf4, #fffaf4 3px, #FFEEDB 3px, #FFEEDB 7px);
  background: repeating-linear-gradient(-45deg, #fffaf4, #fffaf4 3px, #FFEEDB 3px, #FFEEDB 7px);
}
.key{
   text-align: left;
   font-size: .75em;
}
.value{
  text-align: left;
  color: #000;
  font-weight: bold;
}

h1 {
  color: #364e96;
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
}
h2 {
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}

h3 {
  position: relative;
  padding: 0.25em 0;
}

h3:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
}

@media screen and (max-width: 600px) {
  table{width: 100%;}
}
